# Files and folders related to build tools
/node_modules/
/.sass-cache/
/.vscode/
/.idea/
/.DS_Store
/.env
/.env.local
/.env.*.local
/.env.*.test

# Log files
*.log

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
